body {
    background-color: #a237b1;
    font-family: "Asap", sans-serif;
  }
  .login {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
    -moz-transition: -moz-transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
  }
  
  
  .login::before, .login::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-top-left-radius: 40%;
    border-top-right-radius: 45%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 40%;
    z-index: -1;
  }
  .login::before {
    left: 40%;
    bottom: -130%;
    background-color: rgba(69, 105, 144, 0.15);
    -webkit-animation: wawes 6s infinite linear;
    -moz-animation: wawes 6s infinite linear;
    animation: wawes 6s infinite linear;
  }
  .login::after {
    left: 35%;
    bottom: -125%;
    background-color: rgba(2, 128, 144, 0.2);
    -webkit-animation: wawes 7s infinite;
    -moz-animation: wawes 7s infinite;
    animation: wawes 7s infinite;
  }
  .login > input {
    font-family: "Asap", sans-serif;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    margin: 15px -10px;
  }
  .login > button {
    font-family: "Asap", sans-serif;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #5b8bf4;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
  }
  .login > button:hover {
    background-color: #438ff2;
  }
  
  @-webkit-keyframes wawes {
    from {
      -webkit-transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes wawes {
    from {
      -moz-transform: rotate(0);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @keyframes wawes {
    from {
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
  }
  
  .btn-glass {
    flex-grow: 1;
    text-align: center;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    padding: 1em 2em;
    font-family: Lato;
    font-weight: 300;
    border: 1px dotted transparent;
    letter-spacing: 0.98pt;
    text-transform: uppercase;
    transition: background-position 2s cubic-bezier(0, 1, 0, 1), border-color 500ms, background-color 500ms;
    position: relative;
    background-attachment: fixed, scroll;
    background-size: 100vw 100vh, cover;
    background-position: center center, 0 0;
    background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.075) 10%, rgba(255, 255, 255, 0.075) 14%, rgba(255, 255, 255, 0.15) 14%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.075) 17%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 36%, rgba(255, 255, 255, 0.075) 40%, rgba(255, 255, 255, 0.15) 42%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0.075) 60%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0.15) 66%, rgba(255, 255, 255, 0.075) 70%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse farthest-corner, transparent, rgba(0, 0, 0, 0.2) 110%);
  }
  .btn-glass:hover {
    background-position: -100vw 0, 0 0;
  }
  .btn-glass:active {
    background-position: -75vw 0, 0 0;
    border-style: solid;
  }
  .nav-light {
    background-color: rgb(191, 218, 161);
  }
  .nav-light .btn-glass {
    color: #585858;
    background-color: rgba(17, 17, 17, 0);
  }
  .nav-light .btn-glass:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: #000000;
    background-color: #111111;
  }
  .nav-light .btn-glass:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(17, 17, 17, 0.5);
  }
  .nav-light .btn-glass.btn-primary {
    color: #6ab1d1;
    background-color: rgba(42, 143, 189, 0);
  }
  .nav-light .btn-glass.btn-primary:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: #1c607e;
    background-color: #2A8FBD;
  }
  .nav-light .btn-glass.btn-primary:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(42, 143, 189, 0.5);
  }
  .nav-light .btn-glass.btn-success {
    color: #a5c75f;
    background-color: rgba(127, 175, 27, 0);
  }
  .nav-light .btn-glass.btn-success:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: #4f6d11;
    background-color: #7FAF1B;
  }
  .nav-light .btn-glass.btn-success:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(127, 175, 27, 0.5);
  }
  .nav-light .btn-glass.btn-warning {
    color: #fccd69;
    background-color: rgba(251, 184, 41, 0);
  }
  .nav-light .btn-glass.btn-warning:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: #d49104;
    background-color: #FBB829;
  }
  .nav-light .btn-glass.btn-warning:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(251, 184, 41, 0.5);
  }
  .nav-light .btn-glass.btn-danger {
    color: #f56558;
    background-color: rgba(240, 35, 17, 0);
  }
  .nav-light .btn-glass.btn-danger:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: #aa180b;
    background-color: #F02311;
  }
  .nav-light .btn-glass.btn-danger:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(240, 35, 17, 0.5);
  }
  .nav-light .btn-glass.btn-info {
    color: #98e9f0;
    background-color: rgba(108, 223, 234, 0);
  }
  .nav-light .btn-glass.btn-info:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: #29d0e0;
    background-color: #6CDFEA;
  }
  .nav-light .btn-glass.btn-info:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(108, 223, 234, 0.5);
  }
  .nav-dark {
    background-color: #444;
  }
  .nav-dark .btn-glass {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(17, 17, 17, 0);
  }
  .nav-dark .btn-glass:hover {
    border-color: #000000;
    background-color: #111111;
  }
  .nav-dark .btn-glass:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(17, 17, 17, 0.5);
  }
  .nav-dark .btn-glass.btn-primary {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(42, 143, 189, 0);
  }
  .nav-dark .btn-glass.btn-primary:hover {
    border-color: #1c607e;
    background-color: #2A8FBD;
  }
  .nav-dark .btn-glass.btn-primary:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(42, 143, 189, 0.5);
  }
  .nav-dark .btn-glass.btn-success {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(127, 175, 27, 0);
  }
  .nav-dark .btn-glass.btn-success:hover {
    border-color: #4f6d11;
    background-color: #7FAF1B;
  }
  .nav-dark .btn-glass.btn-success:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(127, 175, 27, 0.5);
  }
  .nav-dark .btn-glass.btn-warning {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(251, 184, 41, 0);
  }
  .nav-dark .btn-glass.btn-warning:hover {
    border-color: #d49104;
    background-color: #FBB829;
  }
  .nav-dark .btn-glass.btn-warning:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(251, 184, 41, 0.5);
  }
  .nav-dark .btn-glass.btn-danger {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(240, 35, 17, 0);
  }
  .nav-dark .btn-glass.btn-danger:hover {
    border-color: #aa180b;
    background-color: #F02311;
  }
  .nav-dark .btn-glass.btn-danger:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(240, 35, 17, 0.5);
  }
  .nav-dark .btn-glass.btn-info {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(108, 223, 234, 0);
  }
  .nav-dark .btn-glass.btn-info:hover {
    border-color: #29d0e0;
    background-color: #6CDFEA;
  }
  .nav-dark .btn-glass.btn-info:active {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1em 0.5ex rgba(108, 223, 234, 0.5);
  }
  nav.btn-bar {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  
  body {
    width: 75vw;
    margin: 4em auto;
    line-height: inherit;
  }
  article {
    padding: 0;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1ex 1em rgba(0, 0, 0, 0.3);
  }
  code {
    font-family: monospace;
    display: inline-block;
    padding: 0.5ex 1ch 0.25ex 1ch;
    background-color: #ccc;
    border-radius: 1ex;
    margin: 0 0.5ch;
  }
  article + article {
    margin-top: 4em;
  }
  article section {
    margin: 2em;
  }
  article > section > h2 {
    font-family: 'Lato';
    font-weight: 800;
    font-size: 1.3em;
    margin-bottom: 0.8em;
  }
  article > section > p {
    margin-bottom: 1em;
    text-indent: 2ch;
  }
  article > section > p:first-child,
  article > section > h2 + p {
    text-indent: 0;
  }
  h1 {
    font-family: 'Lato';
    font-weight: 800;
    text-align: center;
    font-size: 5vw;
    color: rgba(255, 255, 255, 0.3);
  }