<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet"><link rel="stylesheet" href="../style/style_Login.css">


    <title>Inventario</title>
</head>
<body onload="">
    <div>
            <form name="form" class="login">
                <h3 for="chk" aria-hidden="true">REGISTRAR</h3>
                <input type="number" name="id" placeholder="Identificador" id="id">
                <input type="text" name="nombre" placeholder="Nombre del producto"  id="nombre">
                <input type="number" name="precio" placeholder="Precio" id="precio">
                <input type="number" name="cantidad" placeholder="Cantidad" id="cantidad">

                <button onclick="insertar()" type=button style="color:rgb(255, 253, 253);">Registrar</button>
                <p>Carga Masiva<input type="file" id="file-input" /></p>
                <button onclick="mostrar()" type=button style="color:rgb(255, 253, 253);">MOSTRAR</button>


                <button onclick="logout()" type=button style="color:rgb(255, 253, 253);">SALIR</button>

                <br>
                    <h3 for="chk" aria-hidden="true">REGISTRAR VENTA</h3>
                    <input type="number" name="id_venta" placeholder="Identificador de venta" id="idd">
                    <input type="text" name="nombre_vende" placeholder="Nombre del vendedor"  id="nombree">
                    <input type="text" name="nombre_clien" placeholder="Nombre del cliente" id="nombre2">
                    <input type="number" name="total" placeholder="Total venta" id="tt">

                    <button onclick="" type=button style="color:rgb(255, 253, 253);">Registrar</button>
                    <p>Carga Masiva<input type="file" id="file-inpute" /></p>
                    <button onclick="" type=button style="color:rgb(255, 253, 253);">MOSTRAR</button>


                    <button onclick="logout()" type=button style="color:rgb(255, 253, 253);">SALIR</button>
                    <br>
                    <h3 for="chk" aria-hidden="true"> RUTA</h3>
                    <p>Carga Masiva<input type="file" id="file-inputo" /></p>
                    <button onclick="mostrando()" type=button style="color:rgb(255, 253, 253);">CALCULAR RUTA</button>   
            </form>
    </div>
    



    <script>
        function redireccionar() {
         miVentana = self.open("vendedor.html");
         miventa2 = self.close("admin.html");
        }

        function logout(){
        miventana = self.open("vendedor.html");
        miventa2 = self.close("admin.html");
        }
    </script>

    
    <script src="../Fase_2/ArbolB.js"></script>
    <script src="../Fase_2/Grafo.js"></script>




</body>

</html>